@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #24252A;
}
li, a, button {
    font-family:"Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    border-radius: 30px;
    width: 120px;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

.menu {
    display: none;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor:pointer ;
    transition:all 0.3s ease 0s ;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

/* aca esta el error*/
.images a,{   
    padding: 10px;
    font-size: 15px;
    color: crimson;
}

.bloqueuno {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.bloquetres {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-size: 15px;
    color: white;
}

.bloqueuno p {
    font-size: 16px;
    color: white;
    padding: 15px;
}

.somos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.somos p{
    font-size: 16px;
    color: white;
}
.somos img {
    width: 220px;
    border-radius: 150px;
    padding: 20px;
}

/* .bloquedos {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    border-radius: 50px;
    width: 300px;
    padding: 20px;
}

.bloquedos img, p {
    border-radius: 50px;
    width: 300px;
    font-size: 16px;
    color: white;
    padding: 5px;
} */

#contenido {max-width: 1368px;margin:0 auto;}

.bloqueuno img {
    width: 350px;
    padding: 20px;
    border-radius: 150px;
}

.images {
    border-radius: 50px;
    padding: 10px;
    width: 300px;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 50px;
    gap: 10px;
    justify-content: left;
}

.container p{
    font-size: 16px;
    color:white;
}

.organizacion {
    font-size: 16px;
    box-sizing: bor;
    padding: 50px;
    color: beige;
    text-align: left;
    display:inline-flex;
    flex-wrap: initial;
    gap: 60px;
}

.organizacion img{
    border-radius: 30px;
    width: 120px;
}



/* mobile nav */

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252A;
    overflow-x: hidden;
    transition:all 0.5s ease 0s ;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 20px;
    display: block;
    transition:all 0.3s ease 0s ;
}

.overlay a:hover, .overlay a:focus {
    color: #0088a9;
}

.overlay .close {
    position: absolute;
    font-size: 40px;
    top: 15px;
    right: 35px;
}

.nav__links, .cta {
    display: none;
}
.menu {
    display: inherit;
}



@media (min-width: 576px) {
    .overlay a {
        font-size: 36px;
    } 
    .overlay .close{
        top: 20px;
        right: 45px;
        font-size: 60px;
    }
    .somos {
        flex-direction:row;
    }


}

@media (min-width: 768px) { 
    .nav__links,.cta {
        display: block;
    }
    .menu {
        display: none;
    }
    .bloqueuno {
        flex-direction: row;
    }
}

@media (min-width: 1200px) { }
